*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box; 
    font-family: sans-serif;
}

body{
    background-color:#D7DBDD ;

    color:white;
    margin: 0px;
}
#contenido{
    width: 100%;
    height:70px;
    background-color:#050561;
    display:flex; 
    justify-content:space-around;
    margin: auto;
    padding: 20px;
    align-items: center;
    float:left;
box-sizing:border-box; 
}

header{
    width: 100%;
    height: 50px;
    background-color:#fff000;
    color:#ffffff;
    display:flex; 
    justify-content:center;
    margin: auto;
    padding: 20px;
    align-items: center;
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
box-sizing:border-box;   
}

#btn-menu{
display: none;
}

header label{
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.menu ul{
    background-color:#fff000;
    display: flex;
    list-style: none; //quita los puntos de la lista
}
.menu ul ul{
    display: none;
}
.menu a{
    display:block;
    padding: 4px  15px;
    color:#ffffff; 
    text-decoration: none; // quita el subrallado
}
.menu a:hover{ background-color: rgba(0,0,0,0.3); 
}
.menu a span{
    margin-left: 10px; 

}
.menu ul li:hover ul{
    display: block;
    position: absolute;
}
.contenedor{
    width: 100%;
    height: 300%;
  box-shadow: 0 0 12px rgba(0, 0, 0,0.8);
    margin:0 auto;
    box-sizing: border-box;
}
#logo{
    width:25%;
    height: 150px;
    background:url(../img/logo1.jpg);
    background-repeat: no-repeat;
    background-position:relative;
    border-radius: 0 0 5px;
    padding: 20px;
    box-sizing: border-box;
}

  
img{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    position: relative;
    list-style:none; //quita los puntos de la lista
    float:left;
    box-sizing:border-box;
}

.bloque{
    width:100%;
    height: 700px;
    background-image:url(../1.jpg);
    background-size:cover;
    background-position:absolute;
    background-repeat:no-repeat; 
    color:#528DF3;
    padding:5px;
    text-align:left;
    float: left;
    justify-content:center;
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    box-sizing:border-box; 
}
.block:before {
    content:"";
    width:100%;
    height:600px;
    background-color:green;
    position: absolute; /*importante para poder ver el color sobre la imagen*/
    opacity: 0.3;
    margin-right:0px; 
    margin-left: 0px;
    box-sizing: border-box;
}

#bloque1{
    width:33%;
    height: 500px;
    background-color:#528DF3;
    background-image:url(../img/imagen3.jpg);
    background-size:cover;
    background-position:absolute;
    background-repeat:no-repeat;
    padding:5px;
    text-align:left;
    float: left;
    display:flex;
    flex-direction:column;
    align-items: center;
    box-sizing:border-box; 
}
.aside{
    width:67%;
    height:500px;
    background-color:#F5F5F5; 
    background-image:url(../2.jpg);
    padding:5px;
    background-size:cover;
    background-position:absolute;
    background-repeat:no-repeat; 
    display: block;
    text-align: center;
    padding:20px;
    top: 300px;
    margin:auto;
    float:left;
    box-sizing: border-box; 
}
.aside1{
    width:33%;
    height:400px;
    background-color:#FAFAFA  ; 
    background-image:url(../imagen10.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    margin:auto;
    padding:20px;
    justify-content:center;
    align-content:center;
    align-items:center;
    position: relative;
    display:flex;
    flex-direction: column;
    text-align: center;
    float:left;
    box-sizing: border-box; 
}
.aside2{
    width:34%;
    height:400px;
    background-color:#FAFAFA; 
    background-image:url(../imagen6.jpg); 
    background-repeat:no-repeat;
    background-size:cover;
    background-position:absolute;
    margin:auto;
    padding:20px;
    float:left;
    box-sizing: border-box; 
}
.aside3{
    width:33%;
    height:400px;
    background-color:#CACFD2;
    margin:auto;
    padding:20px;
    float:left;
    box-sizing: border-box; 
}
.aside4{
    width:55%;
    height:500px;
    background-image:url(../grupo.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color:#000000;
    margin-top:0px;
    padding:20px;
    justify-content:center;
    align-content:center;
    align-items:center;
    position: absolute;
    display:flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    box-sizing:border-box; 
}
.aside4:before{
    content:"";
    width:100%;
    height:500px;
    background-color:#050561;
    position: absolute; /*importante para poder ver el color sobre la imagen*/
    opacity: 0.3;
    margin-right:0px; 
    margin-left: 0px;
    box-sizing: border-box;
}



h1{ font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
    font-size: 20px;
    color:#ffffff;
    z-index: 1;
}

h2{
    font-size:20px;
    font-family:"Times New Roman", Times, serif;
    z-index: 1;
    color:#FFFFFF;
    
}
h3{
    font-size:50px;
    font-family:italic bold 12px/30px Georgia, serif;
    color:#050561;
    z-index:1;

}
h4{
    font-size:30px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#ffffff;
    z-index:1;

}



#footer {
position: relative;
/* Altura total del footer en px con valor negativo */
background:#000000;
color:white;
float:left; 
width:100%;
height:30px;
padding:4px;
margin-top:0px;
margin-left:0%;
margin-right:0%;
margin-bottom:0px;
text-align: center;
box-sizing:border-box;
}    
@media(max-width:768px){  
    body{
        font-size:12px;
       
    }
    header{
        width:100%;
        height: 100px;
        font-size:12px;
        align-items: center;
        background-color:#000000;
    }
    header label{
        display: block;
    }
    #contenido{
     width:100%; 
    height:100px;
    margin-top:0px;
    text-align:center;
    padding:5px;
    justify-content:center;
    box-sizing:border-box;
    }

    .menu{
        width:100%;
        position:absolute;
        top:50px;
        left: 0px;
        transform: translateX(-100%);
        transition: all 0.3s;
        
    }
    .menu ul{
        display:block;
    }
    .menu ul li:hover ul{
        display:all;
        position: static;
        
    }
    .menu a span{
        position: absolute;
        right: 5px;
    }
    #btn-menu:checked ~ .menu{
        transform: translateX(0%);
        
    }

    .menu ul ul{
        background: rgba(0,0,0,0.4);
    }
    .menu ul ul a{
        padding: 15px 40px;
    }
    
    
     #contenido ul{
        background-color:rgba(0.0.0.0.3);
        display: block;
        list-style: none;
        font-size: 12px;
     }
     #contenido a{
        display: block;
        padding: 15px 10px;
        text-decoration: none;
        height: 20px;
     }
     
    .bloque{
    width:100%;
    height: 400px;
    
    }
    .block:before {
    content:"";
    width:100%;
    height:400px;
    }
    #bloque1{
    width:100%;
    height: 500px;
    }
     .aside{
    width:100%;
    height:300px;
    }
    
    .aside1{
    width:100%;
    height:300px;
    }
    .aside2{
    width:100%;
    height:400px;
    }
.aside3{
    width:100%;
    height:300px;
    }
    .aside4{
    width:100%;
    height:400px;  
        }
    .aside4:before{
    content:"";
    width:100%;
    height:400px;
    }
        h1{
            color: White;
            font-size: 20px;
            justify-content: center;
        }


}
